button {
  background: 0;
  border: 0;
  border-radius: 5px;
  padding: 15px 25px;
  font-family: $defaultFont;
  color: $lightblue2;
  font-weight: 600;
  font-size: 1.6rem;

  &:focus,
  &:active {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.iconButton {
  cursor: pointer;
}

.closeButton {
  cursor: pointer;
  top: 0;
  font-size: $xl-size;
  margin: $s-size;
  line-height: 1;
  position: absolute;
  right: 0;
}

.textLink {
  border-radius: 5px;
  border: 1px solid transparent;
  color: $lightblue2;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: $l-size;
  padding: 15px 25px 15px 15px;
  transition: border $defaultTransition;

  &:hover {
    border: 1px solid $lightblue2;
  }
  & i.fa-map-marker-alt {
    font-size: 200%;
  }

  &.loading::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  & .textContainer {
    display: flex;
    align-items: center;

    & span {
      padding-bottom: 0.5rem;
      margin-left: 1.2rem;
    }
  }
}
