button {
  background: none;
  border: 2px solid $purple;
  border-radius: $l-size;
  color: $purple;
  cursor: pointer;
  font-family: $defaultFont;
  font-weight: bold;
  padding: $xs-size $s-size;
  transition: background-color 0.15s linear, color 0.15s linear,
    opacity 0.15s linear;
  & i {
    margin-right: $xs-size;
    transition: transform 0.3s ease-in-out;
  }

  &.iconButton {
    margin-left: $s-size;
  }

  &.iconButton i {
    margin-right: 0;
  }
  & i.left {
    margin-left: $xs-size;
    margin-right: 0;
  }
  &.opened i {
    transform: scaleY(-1);
  }
  &:focus {
    outline: none;
  }
  &:hover,
  &.opened {
    color: white;
    background-color: $purple;
  }
  &.main {
    color: white;
    background-color: $purple;
    padding: $xs-size 2rem;
  }
  &.disabled {
    border-color: gray;
    background-color: lightgray;
    color: gray;
    opacity: 0.5;
    cursor: default;
  }
}

.buttonsRow {
  display: flex;
  justify-content: space-between;
  margin-top: $l-size;
}
