button {
  background: 0;
  border: 1px solid $lightblue2;
  border-radius: $s-size;
  padding: $s-size $m-size;
  min-height: 80px;
  font-family: $defaultFont;
  color: $lightblue2;
  font-weight: 600;
  font-size: 2.4rem;
  transition: all $defaultTransition;

  &:focus,
  &:active {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    background: $lightblue2;
    color: white;
  }
}

.iconButton {
  cursor: pointer;
}

.myLocationButton {
  color: $lightblue2;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding: 15px 25px 15px 15px;

  &:hover {
    border: 1px solid $lightblue2;
  }
  & i.fa-map-marker-alt {
    font-size: 200%;
  }

  &.loading::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  & .textContainer {
    display: flex;
    align-items: center;

    & span {
      padding-bottom: 0.5rem;
      margin-left: 1.2rem;
    }
  }
}

.textClickable {
  cursor: pointer;
}
