.autoCompleteDropDown {
  margin: 0 auto;
  position: relative;

  &.opened {
    & .dropDownContent {
      display: block;
      opacity: 1;
    }

    & button {
      border: 1px solid $lightblue2;
    }
  }
}

.resultsList {
  position: absolute;
  top: 55px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  font-size: 2rem;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;

  & > div {
    padding: $s-size;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    &.selected {
      font-weight: bold;
      color: $lightblue2;
    }

    &.resultMessage {
      font-size: $m-size;
    }
  }
}

.autoCompleteDropDown .selectButton {
  padding: 15px 15px 15px 25px;
  border: 1px solid $lightblue2;
  transition: border $defaultTransition;
  top: 0;
  width: 100%;
  left: 0;
  &:hover {
    border: 1px solid $lightblue2;
  }

  & i.fas.fa-caret-down {
    margin-left: 15px;
  }
}

.autoCompleteDropDown .dropDownContent {
  display: none;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity $defaultTransition;

  & input.dropDownSearch {
    position: absolute;
    font-family: $defaultFont;
    left: 2px;
    top: 2px;
    padding: 12px 5px 13px 25px;
    font-weight: 600;
    font-size: 1.6rem;
    border: 0;
    color: $lightblue2;
  }

  & span.clearInput {
    top: 0;
    right: 0;
    line-height: 1;
    padding: 14px;
    position: absolute;
    cursor: pointer;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity $defaultTransition;

    &.active {
      opacity: 1;
    }
  }
}

input.inputText {
  padding: $s-size;
  padding-left: $m-size;
  margin: $s-size;
  margin-left: 0;
  border-radius: $s-size;
  border: 0;
  font-size: 2.4rem;
  font-family: "Nunito";
  min-height: 55px;
}

.errorNotice {
  font-size: 12px;
  color: $error;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
}
