.rootContainer {
  height: 100%;
  position: relative;
}

.header {
  border-bottom: 1px solid $gray;
  color: $dark-blue;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: $l-size;
  justify-content: space-between;
  padding: $l-size;
  transition: height $defaultTransition;

  & .iconButton {
    font-size: $l-size;
  }
}

.centeredContainer {
  margin: 0 auto;
  text-align: center;
}

.hr {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.loadingSpinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loadingSpinner img {
  width: 60px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .tempInfo {
    font-size: 10rem;
    text-align: center;
    margin: $l-size;
  }

  & .descInfo {
    display: flex;
    align-items: center;
    font-size: $l-size;
  }
}

@media (max-width: $desktop-breakpoint) {
  .header {
    font-size: $m-size;
  }

  .mainContainer {
    & .tempInfo {
      font-size: 7rem;
      margin: $s-size;
    }
  }
}
